.editor {
  padding: 1rem 2rem 2rem 1rem;
  /* border-radius: 0.5rem; */
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  margin: 2rem 20rem;
  border: 3px solid #f6f6f6;
}

.personalInfo {
  display: grid;
  justify-content: center;
}

h3 {
  text-align: center;
}

input {
  padding: 0.8rem 1rem;
  border: none;
  outline: none;
  margin: 0.5rem;
  border: 1px solid #36404c;
}
