:root {
  --darkbg: #36404c;
}

.editor {
  padding: 0rem 2rem 2rem 1rem;
  border-radius: 1rem;
  margin: 2rem 15rem;
  display: grid;
  justify-content: center;
}

.personalInfo,
.skillsInput,
.listofInputs {
  display: grid;
  grid-template-columns: 1fr;
  color: black;
  padding: 2rem;
  margin: 2rem;
  border-radius: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* personal info */
.personalInfo {
  padding: 2rem 5rem;
  background-color: #caf7e3;
}

.personalInfo .lists {
  border-radius: 1rem;
  padding: 0.5rem;
}

/* Skills */

.skillItem input {
  border: none;
  margin: 0.5rem;
  border: 2px solid var(--darkbg);
}

.skillItem {
  display: grid;
  grid-template-columns: 57% 30% 13%;
  margin: 0.5rem 3.5rem;
}

/* Work Experience stuff */

.listContainer .deleteInput,
.listContainer button {
  margin: 0rem;
}

.listContainer .lists {
  border-radius: 0 0 1rem 1rem;
  border: 2px solid var(--darkbg);
}

.lists {
  margin: 0rem;
  border-radius: 0;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
}

.listContainer {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 3rem;
  justify-content: center;
  margin: 1rem;
}

h3,
h4 {
  text-align: center;
  color: var(--darkbg);
}

input {
  padding: 1rem;
  border: none;
  outline: none;
  font-size: 1rem;
  margin: 0rem;
  border-radius: 1rem;
}

button,
.deleteInput,
.newInput {
  margin: 1rem 16rem;
  outline: none;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background: var(--darkbg);
  color: white;
}

button:hover {
  cursor: pointer;
  transform: scale(1.2);
  transform: 0.4s;
}

.deleteInput:hover {
  cursor: pointer;
  color: lavender;
  transform: 0.4s;
}

.deleteInput,
.newInput {
  margin: 0.5rem;
  display: flex;
  padding: 0.2rem;
  justify-content: center;
  align-items: center;
  color: #fb9199;
}

.listContainer .deleteInput {
  display: flex;
  justify-content: flex-end;
  border-radius: 1rem 1rem 0rem 0;
  padding: 0.3rem 0.6rem;
}

.hideDiv {
  display: none;
}
