@import url("https://fonts.googleapis.com/css2?family=Overpass&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap");

:root {
  --darkfg: #36404c;
  --grey: #78828e;
  --blue: #c0e4fe;
}

.viewer {
  padding: 4rem 2rem;
  border: 3px solid var(--darkfg);
  border-radius: 1rem;
  margin: 3rem 6rem;
  color: var(--darkfg);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  animation: smoothLoad 0.3s;
}

/* personal details*/

.personalInfo_viewer {
  margin: 2rem 0rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  column-gap: 3rem;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}

.userTitles {
  display: grid;
  grid-row-gap: 0.5rem;
  text-align: center;
}

.userTitles .userName {
  font-size: 2rem;
  font-weight: bolder;
}

.userTitles .userJob {
  font-size: 1.3rem;
  color: var(--grey);
}

.userImage {
  display: flex;
  justify-content: center;
}

.userImage img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}

.contact {
  display: flex;
  align-items: center;
  font-family: "Overpass", sans-serif;
}

.contactIcon {
  background-color: var(--blue);
  padding: 0.4rem 0.6rem;
  margin: 0.5rem;
  margin-right: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/* about section */

.about {
  display: grid;
  grid-template-columns: 1fr 0.1fr 1fr;
  gap: 2rem;
  padding: 2rem;
}

.about h2 {
  text-align: left;
  font-weight: bolder;
}

.aboutLeft,
.aboutRight {
  display: grid;
  row-gap: 2rem;
}

.separatorLine {
  padding: 0.1rem;
  width: 0.1rem;
  border-right: 2px solid var(--darkfg);
  background-color: white;
  margin: 0 3rem;
}

/* education details /*/

.educationViewer,
.education_content {
  display: grid;
}

.aboutEducation_list,
.aboutWorkExperience_List {
  display: grid;
  grid-template-rows: 1fr;
  gap: 1rem;
}

.educationItem,
.workExperienceItem {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  background-color: #fafafa;
  padding: 1rem;
  border-radius: 1rem;
}

.timeTitle {
  font-size: 1.1rem;
  font-weight: bolder;
}

.contentText {
  gap: 1rem;
}

.skillsViewer {
  display: grid;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid #e6e6e6;
}

.skillInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem;
}

.skillPercentage {
  padding: 0.5rem;
  align-items: center;
  background-color: white;
  border-radius: 0.5rem;
  background: var(--darkfg);
}

.skillPercentage .bar {
  background-color: white;
  border-radius: 1rem;
  height: 100%;
}
