body {
  @apply bg-slate-2 text-slate-7;
  @apply dark:bg-slate-9 dark:text-white-2;
  @apply m-0 p-0;
}

body * div,
body * button,
body * p,
body * input,
body * span {
  @apply text-base;
}

a {
  text-decoration: none;
  color: inherit;
  @apply hover:text-blue-3;
}

.softshadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button,
a {
  @apply cursor-pointer;
}

button {
  @apply vertCentered justify-between w-full;
  @apply w-fit p-3 shadow-lg ;
  @apply hover:bg-green-200 hover:text-black;
  @apply dark:text-white-2 dark:bg-black-2;
  @apply bg-slate-7 text-white-1;
  @apply hover:bg-white-1 hover:text-black-1;
  @apply hover:dark:bg-slate-7 hover:dark:text-white-1;
}

button,
input {
  @apply outline-none border-none border-0;
}

h1 {
  @apply text-3xl md:text-5xl lg:text-6xl font-bold;
}

h2 {
  @apply text-3xl font-semibold;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 15px;
}

::-webkit-scrollbar:horizontal {
  height: 15px;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-4 dark:bg-slate-6;
}

::-webkit-scrollbar-track {
  @apply bg-white-2 dark:bg-tintBlack-2;
}
